In [1]:
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import pandas as pd #lets us handle data as dataframes
import seaborn as sns #sets up styles and gives us more plotting options


import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt


#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)


#prepare IPython notebook for working with matplotlib
%matplotlib inline

In [9]:
#read dataframe from a CSV file
df=pd.read_csv("data_book.csv", header=None,
               names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'],
)
df.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

In [11]:
#read dataframe from a text file
df = pd.read_table("data_babyboom.txt", header=None, sep='\s+', names=['24hrtime','sex','weight','minutes'])
df.head()

   24hrtime  sex  weight  minutes
0         5    1    3837        5
1       104    1    3334       64
2       118    2    3554       78
3       155    2    3838      115
4       257    2    3625      177

In [5]:
#basic dataframe commands
#print df.dtypes
#print df.shape
#print df.columns
#df.query("rating > 4.9")
#df.mean()
#df.std()
#df.sum()
#df.describe()
#df.groupby("rating").groups
#df.groupby("rating").mean()
#df.rating.diff()
#df=pd.DataFrame(dict(x=[1,2,3],y=[10,20,30]))  #create dataframe by dict
df.corr()

          rating      year
rating  1.000000  0.055449
year    0.055449  1.000000

In [17]:
#write dataframe to CSV file
df.to_csv("data.csv", sep=',', index=False)